<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <ul class="nav justify-content-end nav-pills nav-fill">
            {% for nav_item in (('Home', 'home_page'), ('Projects', 'projects_page'), ('Resume','resume_page')) %}
                {% if request.url_rule.endpoint == nav_item[1] %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for(nav_item[1]) }}">
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for(nav_item[1]) }}">
                {% endif %}
                            {{nav_item[0]}}
                        </a>
                    </li>
            {% endfor %}
        </ul>
        {% block content %} {% endblock %}
    </body>
</html>