<style>
    .carousel-caption {
        position: relative;
        bottom: 10px
    }
</style>
{% extends "base.html" %}

{% block title %}Home Page{% endblock %}


{% block content %}
    <section>
        <div class="view">
            <img class="img-fluid" src="{{url_for('static', filename ='img/parallax_1.jpeg')}}" alt="">
            <div class="carousel-caption">
                <h1>Raghav Nair</h1>
                <h2>Software Engineer</h2>
            </div>
        </div>
    </section>

    <section>
        <div class="view">
            <div>
                <h1>About Me</h1>
                <h3>Python professional with ~7 years of experience in Software Programming & Testing</h3>
            </div>
        </div>
    </section>

    <section>
        <h1>Where I've Worked</h1>
        <div class="thumbnail">
            <a href="https://www.pokemon.com/us/">
                <img src="{{url_for('static', filename ='img/tpci_logo.png')}}" alt="tpci" class="img-thumbnail" style="height:200px; width:600px">
            </a>
            <a href="https://www.disney.com/">
                <img src="{{url_for('static', filename ='img/disney_logo.png')}}" alt="disney" class="img-thumbnail" style="height:200px; width:200px">
            </a>
            <a href="https://www.starbucks.com/">
                <img src="{{url_for('static', filename ='img/starbucks_logo.png')}}" alt="starbucks" class="img-thumbnail" style="height:200px; width:200px">
            </a>
            <a href="https://www.airbiquity.com/">
                <img src="{{url_for('static', filename ='img/airbiquity_logo.png')}}" alt="airbiquity" class="img-thumbnail" style="height:200px; width:200px">
            </a>
            <a href="https://www.apollo.edu/">
                <img src="{{url_for('static', filename ='img/apollo_group_logo.png')}}" alt="apollo" class="img-thumbnail" style="height:200px; width:600px">
            </a>
            <a href="https://www.pointinside.com/">
                <img src="{{url_for('static', filename ='img/pointinside_logo.png')}}" alt="pointinside" class="img-thumbnail" style="height:200px; width:200px">
            </a>
        </div>
    </section>

    <section>
        <h1>Education</h1>
        <div class="thumbnail">
            <a href="http://www.washington.edu/">
                <img src="{{url_for('static', filename ='img/syracuse_logo.png')}}" alt="UW" class="img-thumbnail" style="height:200px; width:200px">
            </a>
            <a href="https://www.syracuse.edu/">
                <img src="{{url_for('static', filename ='img/uw_logo.png')}}" alt="SU" class="img-thumbnail" style="height:200px; width:200px">
            </a>
        </div>
    </section>

    <!-- <div>
    <div>
        <h1>Connect With Me!</h1>
    </div> -->
{% endblock %}