<style>
    .carousel-caption {
        position: absolute;
        top: 45%;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 10px;
    }

    /* to center flex-items */
    .flex-item {
        margin: auto;
    }

    footer {
      background: #061D25;
      padding: 10px 0;
      text-align: center;
    }
    footer a {
      color: #70726F;
      font-size: 20px;
      padding: 10px;
      border-right: 1px solid #70726F;
      transition: all .5s ease;
    }
    footer a:first-child {
      border-left: 1px solid #70726F;
    }
    footer a:hover {
      color: white;
    }

    .connect-with-me {
        text-align: left;
        color: white;
    }
</style>
{% extends "base.html" %}

{% block title %}Home Page{% endblock %}


{% block content %}
    <section>
        <div class="view">
            <img class="img-fluid" src="{{url_for('static', filename ='img/parallax_1.jpeg')}}" alt="">
            <div class="carousel-caption">
                <h1>Raghav Nair</h1>
                <h2>Software Engineer</h2>
            </div>
        </div>
    </section>

    <section>
        <div class="view">
            <div>
                <h1>About Me</h1>
                <h3>Python professional with ~7 years of experience in Software Programming & Testing</h3>
            </div>
        </div>
    </section>

    <section>
        <h1>Where I've Worked</h1>
        <div>
            <div>
                <div class="flex-container">
                <div class="flex-item">
                    <img src="{{url_for('static', filename ='img/tpci_logo.png')}}" alt="1" class="img-responsive" style="height:100px; width:300px">
                </div>
                <div class="flex-item">
                    <img src="{{url_for('static', filename ='img/disney_logo.png')}}" alt="2" class="img-responsive" style="height:150px; width:150px"/>
                </div>
                <div class="flex-item">
                    <img src="{{url_for('static', filename ='img/starbucks_logo.png')}}" alt="3" class="img-responsive" style="height:150px; width:150px"/>
                </div>
                <div class="flex-item">
                    <img src="{{url_for('static', filename ='img/airbiquity_logo.png')}}" alt="4" class="img-responsive" style="height:150px; width:150px"/>
                </div>
                <div class="flex-item">
                    <img src="{{url_for('static', filename ='img/pointinside_logo.png')}}" alt="5"class="img-responsive" style="height:150px; width:150px"/>
                </div>
                <div class="flex-item">
                    <img src="{{url_for('static', filename ='img/apollo_group_logo.png')}}" alt="5"class="img-responsive" style="height:100px; width:300px">
                </div>
            </div>
            </div>
        </div>
    </section>

    <section>
        <h1>Education</h1>
        <div>
            <div>
                <div class="flex-container">
                    <div class="flex-item">
                        <img src="{{url_for('static', filename ='img/syracuse_logo.png')}}" alt="UW" class="img-responsive" style="height:150px; width:150px">
                    </div>
                    <div class="flex-item">
                        <img src="{{url_for('static', filename ='img/uw_logo.png')}}" alt="2" class="img-responsive" style="height:150px; width:150px"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <footer class="footer">
        <div class="container text-center">
            <p class="connect-with-me text-center">Connect With Me!</p>
            <a href="https://www.linkedin.com/in/raghav-nair-a36a6949/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/nairraghav"><i class="fa fa-github"></i></a>
        </div>
    </footer>
{% endblock %}